:root {
  --color-white: hsl(0, 100%, 100%);
  --color-black: hsl(0, 0%, 0%);

  --color-grey-600: hsl(180, 25%, 32%);
  --color-grey-550: hsl(180, 18%, 40%);
  --color-grey-500: hsl(186, 14%, 43%);
  --color-grey-400: hsl(184, 14%, 56%);
  --color-grey-300: hsl(184, 19%, 68%);
  --color-grey-200: hsl(185, 41%, 84%);
  --color-grey-50: hsl(189, 47%, 97%);

  --color-green-900: hsl(183, 100%, 15%);
  --color-green-800: hsl(183, 85%, 21%);
  --color-green-750: hsl(183, 79%, 24%);
  --color-green-400: hsl(172, 67%, 45%);
  --color-green-200: hsl(173, 61%, 77%);

  --color-orange-400: hsl(13, 70%, 60%);

  --font-family-primary: "Space Mono", monospace;

  --font-weight-primary: 700;

  --font-size-1: 3rem;
  --font-size-2: 2rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1rem;
  --font-size-6: 0.8125rem;

  --line-height-1: 1.48;
  --line-height-2: 1.47;
  --line-height-3: 1.5;
  --line-height-4: 1.5;
  --line-height-5: 1.5;
  --line-height-6: 1.46;

  --letter-spacing-1: -1px;
  --letter-spacing-2: -0.67px;
  --letter-spacing-3: 0px;
  --letter-spacing-4: 0px;
  --letter-spacing-5: 0px;
  --letter-spacing-6: 0px;

  --spacing-0: 0rem;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-600: 3rem;
  --spacing-1000: 5rem;
  --spacing-1200: 6rem;
  --spacing-1500: 7.5rem;
  --spacing-1600: 8rem;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  background-color: var(--color-green-200);
  font-weight: var(--font-weight-primary);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-5);
  color: var(--color-grey-500);
  /* 4. Add accessible line-height */
  line-height: var(--line-height-5);
  /* 5. Improve text rendering */
  letter-spacing: var(--letter-spacing-5);
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* 10. Remove default border and padding */

fieldset {
  border: none;
  padding: 0;
}

main {
  display: grid;
  place-items: center;
  place-content: center;
  min-height: 100vh;
}

img[alt="logo of SPLITTER"] {
 margin-block-end: clamp(5vh, 10%, 20vh);
}

.bill__container {
  background-color: var(--color-white);
  display: grid;
  padding-block: var(--spacing-400);
  padding-inline: var(--spacing-300);
  gap: var(--spacing-400);
  border-radius: 15px;
  inline-size: 100vw;
  max-inline-size: 57.5rem;
}

@media (min-width: 33.5rem) {
  .bill__container {
    padding-block: var(--spacing-600);
    padding-inline: var(--spacing-1000);
    gap: 2.5rem;
    inline-size: 85vw;
  }
}

@media (min-width: 50rem) {
  .bill__container {
    grid-template-columns: repeat(2, 1fr);
    padding: var(--spacing-400);
    gap: var(--spacing-600);
  }
}

.bill__section > * + * {
  margin-block-start: var(--spacing-400);
}

@media (min-width: 37.5rem) {
  .bill__section > * + * {
    margin-block-start: var(--spacing-300);
  }
}

@media (min-width: 50rem) {
  .bill__section > * + * {
    margin-block-start: 2.5rem;
  }
}

.bill__section_input_icon {
  position: relative;
}

.bill__section_input, .tip__options input[type="number"] {
  background-color: var(--color-grey-50); 
  inline-size: 100%;
  color: var(--color-green-900);
  text-align: end;
  border-radius: 5px;
  border: solid 2px transparent;
  padding-inline: var(--spacing-200);
  padding-block: var(--spacing-100);
}

.bill__section_input:focus, .tip__options input[type="number"]:focus{
  outline: none;
  border: 2px solid var(--color-green-400);
}

.bill__section_input_icon img {
  position: absolute;
  left: 8px;
  top: 10%;
  transform: translateY(50%);
  pointer-events: none;
}



.bill__result {
    background-color: var(--color-green-900);
    padding: var(--spacing-300);
    border-radius: 15px;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 37.5rem) {
  .bill__result {
    padding-inline: var(--spacing-400);
  }
}


.tip__options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-100);
}

@media (min-width: 37.5rem) {
  .tip__options {
    grid-template-columns: repeat(3, 1fr);
  }
}

.tip__options input[type="radio"] {
    display: none;
}
.tip__options label {
    background-color: var(--color-green-900);
    text-align: center;
    color: var(--color-white);
    padding-inline: var(--spacing-200);
    padding-block: var(--spacing-100);
    border-radius: 5px;
    cursor: pointer;
}

.tip__options label:hover{
    background-color: var(--color-green-400);
    color: var(--color-green-900);
}

.tip__options label[data-state="active"]{
    background-color: var(--color-green-200);
    color: var(--color-green-900);
}

.bill__result section{
    display: flex;
    justify-content: space-between;
}

.per_person {
    color: var(--color-green-400);
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-1);
}

.bill__result_text{
    font-size: var(--font-size-5);
    line-height: var(--line-height-5);
    letter-spacing: var(--letter-spacing-5);
}

.bill__result_text small {
    font-size: var(--font-size-6);
    line-height: var(--line-height-6);
    letter-spacing: var(--letter-spacing-6);
    color: var(--color-grey-400);
}

button {
    background-color: var(--color-green-400);
    padding-inline: var(--spacing-200);
    padding-block: var(--spacing-100);
    text-transform: uppercase;
    color: var(--color-green-900);
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
}

